@keyframes waveTop {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -3200px;
  }
}

@keyframes waveBottom {
  0% {
    margin-left: -3200px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.wave-top {
  background: url(../assets/images/wave-top.jpg) repeat-x;
  width: 6400px;
  top: -55px;
  height: 55px;
  animation: waveTop 25s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave-bottom {
  background: url(../assets/images/wave-bottom.jpg) repeat-x;
  width: 6400px;
  margin-top: -27px;
  height: 90px;
  animation: waveBottom 25s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}


.zoom {
  height: 500px;
  background-size: cover;
  background-position: center;
}

.img-hover-zoom {
  height: 500px;
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom .zoom {
    transition: transform 1s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover .zoom {
    transform: scale(1.3);
}


.fade-in {
	animation: fadeIn 2s;
  	opacity: 1;
}

.fade-out {
	animation: fadeOut 2s;
  	opacity: 0;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}

@keyframes fadeOut {
  from {
  	opacity: 1;
  }
  to {
 	opacity: 0;
  }
}